body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:653px;
  width:36px;
  height:39px;
  overflow:hidden;
  visibility:hidden;
}
#u473_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u473_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:677px;
  width:36px;
  height:39px;
  overflow:hidden;
  visibility:hidden;
}
#u474_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u474_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:667px;
  width:36px;
  height:39px;
  overflow:hidden;
  visibility:hidden;
}
#u475_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u475_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:205px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:511px;
  width:233px;
  height:205px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:264px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:452px;
  width:186px;
  height:264px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:195px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:511px;
  width:226px;
  height:195px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:191px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:67px;
  width:247px;
  height:181px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:55px;
  width:36px;
  height:39px;
  overflow:hidden;
  visibility:hidden;
}
#u480_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u480_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:107px;
  width:36px;
  height:39px;
  overflow:hidden;
  visibility:hidden;
}
#u481_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u481_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:258px;
  width:247px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:425px;
  width:199px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:379px;
  width:241px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:408px;
  width:199px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:267px;
  height:201px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:67px;
  width:247px;
  height:181px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:239px;
  height:232px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:490px;
  width:219px;
  height:212px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:187px;
  height:296px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:432px;
  width:167px;
  height:276px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:269px;
  height:231px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:489px;
  width:249px;
  height:211px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:59px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:67px;
  width:63px;
  height:59px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:83px;
  height:79px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:67px;
  width:63px;
  height:59px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:57px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:68px;
  width:51px;
  height:57px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:125px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u494_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u494_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:37px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:1273px;
  height:37px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:285px;
  height:37px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
