body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:859px;
  width:38px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:250px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:356px;
  width:279px;
  height:250px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:345px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:278px;
  width:278px;
  height:345px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-30px;
  width:375px;
  height:185px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:599px;
  width:315px;
  height:125px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:415px;
  height:350px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:476px;
  width:315px;
  height:250px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-30px;
  width:375px;
  height:436px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:349px;
  width:315px;
  height:376px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:101px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:549px;
  width:82px;
  height:101px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:101px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:485px;
  width:82px;
  height:101px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:39px;
  width:38px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u241_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u241_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:616px;
  width:89px;
  height:101px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:90px;
  color:#000000;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:616px;
  width:51px;
  height:102px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:90px;
  color:#000000;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:194px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:676px;
  width:170px;
  height:194px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:194px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:754px;
  width:170px;
  height:194px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:91px;
  width:38px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u246_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:147px;
  width:38px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u247_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u247_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:101px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:549px;
  width:89px;
  height:101px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
