body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:503px;
  width:38px;
  height:41px;
  overflow:hidden;
  visibility:hidden;
}
#u93_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:102px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:602px;
  width:164px;
  height:102px;
  opacity:0.1;
}
#u94_img.mouseOver {
}
#u94.mouseOver {
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:214px;
  height:224px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:55px;
  width:194px;
  height:204px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:217px;
  height:209px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:523px;
  width:197px;
  height:189px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:456px;
  width:257px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:269px;
  width:211px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:207px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:523px;
  width:139px;
  height:207px;
  opacity:0.2;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:37px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:1273px;
  height:37px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:285px;
  height:37px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:8px;
  width:285px;
  height:37px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
