body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:730px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:656px;
  width:52px;
  height:58px;
  overflow:hidden;
  visibility:hidden;
}
#u66_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u66_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:661px;
  width:46px;
  height:49px;
  overflow:hidden;
  visibility:hidden;
}
#u67_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:43px;
  width:56px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u68_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:675px;
  width:36px;
  height:39px;
  overflow:hidden;
  visibility:hidden;
}
#u69_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:105px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:595px;
  width:161px;
  height:105px;
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:141px;
  width:36px;
  height:38px;
  overflow:hidden;
  visibility:hidden;
}
#u71_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:213px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:511px;
  width:135px;
  height:213px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:221px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:55px;
  width:191px;
  height:211px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:194px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:530px;
  width:182px;
  height:194px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:566px;
  width:36px;
  height:22px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:32px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:211px;
  height:231px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:55px;
  width:191px;
  height:211px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:155px;
  height:233px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:497px;
  width:135px;
  height:213px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:197px;
  height:137px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:589px;
  width:177px;
  height:117px;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:226px;
  height:212px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:522px;
  width:206px;
  height:192px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:274px;
  width:206px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:441px;
  width:197px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:500px;
  width:204px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:441px;
  width:251px;
  height:57px;
  font-family:'Arial Bold', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:59px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:67px;
  width:63px;
  height:59px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:108px;
  width:27px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
#u85_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u85_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:83px;
  height:79px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:67px;
  width:63px;
  height:59px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:57px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:68px;
  width:51px;
  height:57px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:37px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:1273px;
  height:37px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:285px;
  height:37px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:37px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:8px;
  width:285px;
  height:37px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
